/* src/index.css */

@font-face {
  /* This is the name we will use to refer to the font */
  font-family: 'Decaydence'; 
  
  /* The path to the font file and its format */
  src: url('./assets/fonts/Decaydence_Straight.otf') format('opentype');
  
  font-weight: normal;
  font-style: normal;
}

/* The rest of your index.css remains the same */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}