/* We remove the padding for this full-width demo */
.st-page.page-container {
    padding: 0;
}

.st-header, .st-footer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.st-header h1 {
    font-size: 5rem;
    border: none;
}

.st-section {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.st-box {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: white;
}

.color-1 { background-color: #be185d; }
.color-2 { background-color: #0d9488; }
.color-3 { background-color: #6d28d9; }
.color-4 { background-color: #b45309; }